/* Main stylesheet for Project 0. */

// Styling for upper navigation area with other page links.
.upper-nav-bar {
    padding-top: 10px;
    padding-right: 10px;
    a {
        text-decoration: none;
        font-family: sans-serif;
        color: grey;
        padding-left: 5px;
        padding-right: 5px;
    }
    float: right;
}

// Styling for div containing search box and button.
.basic-search {
    text-align: center;
    padding-top: 40vh; // Uses 45% of viewport height
}

// Styling for search box input for Search and Image Search pages.
.search-box {
    width: 200px;
}

// Styling for Advanced Search button.
.adv-search-button {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: white;
    margin-top: 30px;
    margin-left: 450px;
    padding: 8px;
}