/* Main stylesheet for Project 0. */

// Styling for h1 page headers.
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #4285f4;
}

// Styling for upper navigation area with other page links.
.upper-nav-bar {
    padding-top: 10px;
    padding-right: 10px;
    a {
        text-decoration: none;
        font-family: sans-serif;
        color: grey;
        padding-left: 5px;
        padding-right: 5px;
    }
    float: right;
}

// Styling for div containing search box and button.
.basic-search {
    text-align: center;
    padding-top: 40vh; // Uses 45% of viewport height
}

// Styling for table cells in advanced search div.
.advanced-search td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 10px;
}

// Styling for monospace text in advanced search.
.monospace {
    font-family: monospace;
}

// Styling for title search boxes
.title-search-box {
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
}

// Styling for search boxes on the Advanced Search page.
.adv-search-box {
    border: 1px solid;
    width: auto;
}

// Styling for regular search buttons.
.search-button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    color: #5F6368;
    padding: 10px;
    margin: 5px;
}

// Styling for Advanced Search button.
.adv-search-button {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: white;
    margin-top: 30px;
    margin-left: 450px;
    padding: 8px;
}